div{
    background-image: url(../img/ember1.png);
    width: 42px;
    height: 128px;
}
#kiallitva{
    background-image: url(../img/ember3.png);
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
div:hover{
    background-image: url(../img/ember2.png);
}
